[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hscovar"]
	path = hscovar
	url = https://github.com/cran/hscovar
[submodule "hsrecombi"]
	path = hsrecombi
	url = https://github.com/cran/hsrecombi
